//公告的样式

.but { //按钮
  background-color: @but !important;
}
.vux-rater a {
  width: 20px !important;
  height: 20px !important;
  font-size: 20px !important;
  line-height: 20px !important;
}
.vux-marquee {
  height: 50px;
}
.vux-marquee-box li {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.vux-x-input-has-right-full {
  padding-top: 10PX !important;
  padding-right: 200px !important;
}
.weui-cell__ft .vux-x-input-right-full {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.vux-x-input-right-full {
  height: 100% !important;
  img {
    height: 100% !important;
  }
}
.weui-toast {
  width: 120px !important;
  height: 120px !important;
  min-height: 120px !important;
  min-width: 120px !important;
  top: 50% !important;
  margin-top: -60px !important;
  margin-left: -60px !important;
  .weui-toast__content {
    font-size: 14px;
  }
}
.vux-header {
  width:100%;
  position:absolute !important;
  left:0;
  top:0;
  z-index:100;
}
