@backgroundColor: #f4f5f7; //底色背景
@mainColor: #3b81f6; //主色
@secondaryColor: #333; //副主色
@hintColor: #666; //提示色
@auxiliaryColor: #999; //辅助色
@priceColor: #f44528; //价格色
@yellowColor: #ffda0f; //黄色
@greenColor: #21ca71; //绿色
@orangeColor: #ec5614; //深橙色
@ashColor: #ccc; //浅灰色
@whiteColor: #fff; //白色

@header-background-color: @whiteColor; //header背景色
@header-title-color: @secondaryColor; //header字体颜色
@header-arrow-color: @secondaryColor; //header返回键颜色
@tabbar-text-active-color: @mainColor; //tab选中颜色
@radio-checked-icon-color: @mainColor; //选中图标的颜色

